* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: rgb(72, 72, 72);
}

ul {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150vh;
}

.topo {
  width: 100%;
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  object-fit: cover;
  padding-bottom: 60px;
  min-height: 600px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 64px;
}

.logo {
  padding-left: 30px;
}

.menu {
  width: 50%;
}

.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 30px;
}

.menu ul li a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.menu-mobile {
  visibility: hidden;
}

.container-formulario {
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  margin: 50px;
  width: 441px;
  height: 531px;
  border-radius: 6px;
}

.texto {
  font-size: 30px;
  font-weight: 700;
  padding: 25px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.formulario form {
  width: 80%;
}

.form-um-campo {
  display: flex;
  flex-direction: column;
}

.form-um-campo .label-form {
  font-size: 12px;
  font-weight: 800;
  padding-bottom: 10px;
  padding-top: 20px;
}

.form-um-campo input {
  font-size: 17px;
  margin: 0px;
  padding-left: 12px;
  text-overflow: ellipsis;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  display: flex;
  height: 48px;
  width: 100%;
}

.div-botao {
  width: 103%;
  justify-content: flex-end;
  display: flex;
}

.form-um-campo .botao {
  font-size: 16px;
  font-weight: 800;
  color: #ffffff;
  width: 120px;
  height: 48px;
  margin-top: 12px;
  background-color: #ff5a5f;
  border: 0;
  border-radius: 4px;
}

.form-dois-campos {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

/* Cards Explorar */
.explore {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.linha {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.texto-sub-titulo {
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 15px;
}

.cards {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  margin: 5px;
  overflow: hidden;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgba(0, 0, 0, 0.05) !important;
  border-image: initial !important;
  border-radius: 12px !important;
  -webkit-box-direction: normal !important;
  -webkit-box-orient: horizontal !important;

  -webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.27);
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.27);
}

.texto-cards {
  font-size: 16px;
  font-weight: 600;
  padding-left: 30px;
}

.cards img {
  width: 126px;
  height: 84px;
}

/* carousel */
.conteiner-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 60px;
}

.alinhamento {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-between;
}

.carousel {
  display: flex;
  flex-direction: row;
}

.cards-carousel {
  display: flex;
  flex-direction: column;
}

.imagem-carousel {
  border-radius: 6px;
  width: 100%;
  overflow: hidden;
}

.imagem-carousel img {
  width: 98%;
  height: 300px;
  border-radius: 10px;
  padding-top: 10px;
  margin: 2px;
}

.titulo-card,
.texto-card,
.sub-titulo-carousel,
.texto-cards p {
  font-size: 16px;
  font-weight: 400;
}

.titulo-carousel {
  font-size: 22px;
  font-weight: 600;
}
